{% extends 'core/base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">Últimos productos</h2>
        </div>

        {% for product in newest_products %}
            {% include 'product/parts/list_item.html' %}
        {% empty %}
            <div class="column is-12 has-text-centered">
                <p class="has-text-grey">
                    🚫 No hay productos disponibles en tu país por ahora.
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
